<div class="portfolio">
    <ul class="portfolio-works">
        <li class="portfolio-work" *ngFor="let item of list">
            <a href="">
                <div class="href">
                    <div class="hover">
                        <div class="items-info">
                            <img src="../../../assets/img/portfolio/show_more.png" alt="">
                        </div>
                    </div>
                    <div class="opacity"></div>
                    <img src="https://numl.org/.408211" alt="">
                </div>
            </a>
        </li>
    </ul>
</div>