<div class="container p25">
  <div class="contact p25">
    <div class="contact-form p25">
      <div class="get-info-contact mb30">
        <h1 class="mb10">Get in touch with us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At debitis numquam laboriosam necessitatibus,
          accusantium eligendi officia molestias aliquid voluptatibus fugiat dolorum quae consectetur quaerat. Laborum
          fuga perspiciatis autem nulla praesentium beatae repellat vel minus adipisci dicta sint explicabo earum,
          recusandae corporis at ex quia aliquid. Dignissimos dolore aperiam exercitationem reiciendis.</p>
      </div>
      <div class="send-form">
        <h1 class="mb10">Send us a message</h1>
        <form action="" class="form">
          <div class="blocks mb10">
            <div class="block-1">
              <div class="send-form-view mb10">
                <div class="img">
                  <img src="../../../assets/img/contact/user.png" alt="">
                </div>
                <div class="input">
                  <input type="text" name="" id="" placeholder="Name">
                </div>
              </div>
              <div class="send-form-view">
                <div class="img">
                  <img src="../../../assets/img/contact/email.png" alt="">
                </div>
                <div class="input">
                  <input type="text" name="" id="" placeholder="E-mail">
                </div>
              </div>
            </div>
            <div class="block-2">
                <div class="textarea">
                    <textarea name="" placeholder="Message"></textarea>
                </div>
            </div>
          </div>
          <button class="btn-style w100p">Send message</button>
        </form>
      </div>

    </div>
  </div>
</div>
