<div class="filter prn">
  <div class="filter-logo">
    <p>Filter</p>
    <img src="../../../../assets/img/nav/filter/filter-img.png" alt="">
  </div>
  <form class="filter-all">
    <div class="filter-item">

      <div class="filter-item-column">
        <label [ngClass]="{'unselectable': true, 'active-first-radio': i === 0 && !activeRadio, 'active-radio': item === activeItem}" *ngFor="let item of filterItem; let i = index" [for]="i">
          <input type="radio" [value]="item" name="item" [id]="i" [checked]="i === 0" (change)="thisItem($event)"> {{item}}
        </label>
      </div>

    </div>
  </form>
</div>
