.info-contact {
  z-index: 4;
  position: fixed;
  right: 7px;
  top: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .info-hover {
    width: 90px;
    height: 90px;
    background-color: #1ab5b3;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-hover-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #000000;
    opacity: 0.7;
    padding: 20px;
    display: none;

    li {
      color: #ffffff;
      font-family: "Roboto - Thin";
      font-size: 16px;
      font-weight: 400;
      line-height: 15px;
      margin-bottom: 10px;
      list-style-type: none;

      img {
        margin-right: 10px;
        user-select: none;
      }
    }

    li:nth-child(2) {
      margin-bottom: 0px;
    }
  }
  .info-hover-ul:hover{
      display: block;
      cursor: text;
  }

  .opacity {
    display: block;
  }
}
