.work {
    display: flex;
    background-color: #fff;
    width: 100%;
  
    .block-1 {
      width: 725px;
      
      
      .slider {
          height: 400px;
      }
      
      .describe-work {
        //   border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
          
          .describe-text {
              p {
                  text-align: justify;
                  color: #a3a3a3;
                  font-family: Roboto;
                  font-size: 18px;
                  font-weight: 300;
                  line-height: 30px;
              }
          }
      }
  }
  
  .block-2 {
      border-left: 1px solid rgba($color: #000000, $alpha: .1);
      width: calc(100% - 725px);
      // background-color: red;
    }
  
  }
  