<div class="container p25">

  <div class="work">
    <div class="block-1 p25">

      <div class="slider">
        <app-slider [img]="slider"></app-slider>
      </div>

      <div class="describe-work top-retreat">
        <h1 class="bottom-retreat">
          Describe about Me
        </h1>
        <div class="describe-text">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique ipsam exercitationem quod officiis
            voluptatem praesentium cupiditate incidunt officia, facere deleniti minima in asperiores, sapiente
            doloremque itaque quidem, aliquid tenetur! Architecto obcaecati et eveniet accusamus praesentium dolorem,
            exercitationem nihil reprehenderit nesciunt in laudantium dicta officiis soluta, non cumque facilis eos
            minima autem velit tempora qui, reiciendis esse. Consectetur distinctio quod necessitatibus perspiciatis
            perferendis ab fugiat itaque non, blanditiis beatae commodi laudantium porro deleniti explicabo magnam
            libero. Inventore in laboriosam reiciendis cum quia magnam modi optio! Laudantium deserunt modi accusantium
            et nam nostrum hic ipsum quae eveniet asperiores alias iusto distinctio est quam aut quidem, facere sapiente
            explicabo soluta! Fugit nemo deleniti in nesciunt.</p>
        </div>
      </div>

      <!-- <div class="more-works">
          <h1 class="top-retreat bottom-retreat">
            Other Related Projects
          </h1>
          <div class="describe-text">
              <app-show-more></app-show-more>
          </div>
        </div> -->

    </div>
    <div class="block-2 p25">
      <div class="project-info bottom-retreat">
        <h1 class="mb10">
          The following technologies are used
        </h1>
        <!-- <app-project-info *ngFor="let item of projectInfo" [item]="item"></app-project-info> -->
        <app-my-skills></app-my-skills>
      </div>
      <div class="tags bottom-retreat">
        <h1>
          Tags
        </h1>
        <app-tag [tags]="tags"></app-tag>
      </div>
      <div class="project-feature">
        <h1>
          Project Features
        </h1>
        <app-ul-li-done></app-ul-li-done>
      </div>
    </div>
  </div>

</div>
