.tag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  li {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    list-style-type: none;
    margin: 5px;
    margin-left: 0;
    color: #a3a3a3;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    line-height: 32px;
    user-select: none;
  }
}
