/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Soho Gothic Pro';
  src: url(assets/fonts/Soho_Gothic_Pro/SohoGothicPro-Regular.otf);
}

@font-face {
  font-family: 'Roboto';
  src: url(assets/fonts/roboto/Roboto.ttf);
}

@font-face {
  font-family: 'Roboto - Thin';
  src: url(assets/fonts/roboto/Robotothin.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.prn {
  padding-right: 10%;
}
